.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
.dockerignore
